<div class="full-container">
    <h2>Log in:</h2>
    <form>
        <div class="form-group">
            <label for="email">Email address</label>
            <input #email name="email" [(ngModel)]="user.email" type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input #password name="password" [(ngModel)]="user.password" type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default" (click)="submit()">Submit</button>
    </form>
    <div class="sign-up">Don't have a user? <a routerLink="/register">Sign up</a> for free!</div>
</div>