<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button (click)="isCollapsed = !isCollapsed" type="button" class="navbar-toggle collapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  routerLink="/">Shareboard</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div [collapse]="isCollapsed" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/sounds" (click)="collapse()">Sounds</a></li>
        <li routerLinkActive="active"><a routerLink="/boards" (click)="collapse()">Boards</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="user === null" routerLinkActive="active"><a routerLink="/login" (click)="collapse()">Log in</a></li>
        <li *ngIf="user !== null" routerLinkActive="active"><a routerLink="/settings" (click)="collapse()">Settings</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>