<div class="full-container">
    <h2>Your sounds:</h2>
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Play</th>
        </tr>
        <tr *ngFor="let sound of sounds" [routerLink]="['/sound', sound.id]">
            <td>{{sound.name}}</td>
            <td class="btn-col">
                <audio id="{{sound.id}}-sound">
                    <source src="{{sound.src}}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
                <button *ngIf="!sound.isPlaying" type="button" id="{{sound.id}}-play" class="btn btn-primary" (click)="play($event, sound)">Play</button>
                <button *ngIf="sound.isPlaying" type="button" id="{{sound.id}}-stop" class="btn btn-danger" (click)="stop($event, sound)">Stop</button>
            </td>
        </tr>

    </table>
    <button type="button" class="btn btn-primary" routerLink="/sound">Add a Sound</button>
</div>