h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

#player-container {
  text-align: center;
}

my-app {
  margin: auto;
}

.full-container {
    width: 80%;
    margin: auto;
}

.full-container.h2 {
    width: 80%;
    margin: auto;
}

.loading-icon {
  margin-top: 10rem;
  width: 100%;
  text-align: center;
}

.button-spinner {
    font-size:20px;
    margin-left:10px;
}

.spinner-container {
  display: none;
}

.is-loading > .spinner-container {
  display: inline-block !important;
}