<div class="full-container">
    <h2>Your boards:</h2>
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>Image</th>
        </tr>
        <tr *ngFor="let board of boards" >
            <td>{{board.name}}</td>
            <td>{{board.imgPath}}</td>
        </tr>

    </table>
    <button type="button" class="btn btn-primary">Add a Board</button>
</div>
