<div class="full-container">
  <h2>Create a user!</h2>
  <form #registerForm="ngForm">
    <div class="form-group">
      <label for="email">Email address</label>
      <input #email name="email" [(ngModel)]="user.email" type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input #password name="password" [(ngModel)]="user.password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <button type="submit" (click)="submit()" class="btn btn-default">Submit</button>
  </form>
</div>
