
.form-footer {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-bottom: 4rem;
}

h1 {
    text-align: center;
}

.container {
    max-width: 400px;
    text-align: center;
}

.half-form {
    display:inline-block;
    width:40%;
    padding-left: 5px;
    padding-right:5px;
}