<h1 [hidden]="editing">Add a sound!</h1>
<h1 [hidden]="!editing">Update {{sound.name}}!</h1>
<div class="container">
    <form #youtubeForm="ngForm" class="form">
      <div class="form-group">
        <label for="url">Name</label>
        <input #name name="name" [(ngModel)]="sound.name" type="text" class="form-control" id="name" required>
      </div>
      <div *ngIf="!editing" class="form-group">
        <label for="url">Url</label>
        <input #url name="url" [(ngModel)]="sound.url" type="text" class="form-control" id="url" required>
      </div>
      <div *ngIf="!editing" class="form-group half-form">
        <label for="start">Start</label>
        <input #start name="start" [(ngModel)]="sound.start" type="text" class="form-control" id="start" required>
      </div>
      <div *ngIf="!editing" class="form-group half-form">
        <label class="full-label" for="end">End</label>
        <input #end name="end" [(ngModel)]="sound.end" type="text" class="form-control" id="end" required>
      </div>
      <audio *ngIf="editing" controls>
        <source src="{{sound.src}}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="form-footer">
        <p *ngIf="!editing">Max time is {{MAX_TIME}} seconds.</p>
        <button *ngIf="!editing" (click)="test()" type="button" class="btn btn-warning">Test</button>
        <button (click)="submit()" [promiseBtn]="submitPromise" type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
</div>
<media-video *ngIf="!editing"></media-video>