<div class="full-container">
    <h2>Settings</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Account</h3>
        </div>
        <div class="panel-body">
            Email: {{user.email}}
        </div>
    </div>
</div>